.Header{
  padding: 1.5%;
  background-color: #323030;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center ;
  border: none;
  border-radius: 10px;
}

.navbar-items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vh;
  border : none;
}

a{
  color: #a29c9c;
  text-decoration: none;
}